.container {
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(240, 240, 240, 0.8), rgba(248, 248, 248, 0.8));
  overflow: auto;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 5vh;
}
